{% if redmine_issue_search_result.json.issues | length == 0 %}
  {{ redmine_issue_server_url }}/projects/{{ redmine_issue_project_name }}/issues.json
{% else %}
  {{ redmine_issue_server_url }}/issues/{{ (redmine_issue_search_result.json.issues | first).id }}.json
{% endif %}
